

.output{
    height:30%;
    width: 100%;
    text-align: right;
    padding: 100px;
    box-sizing: border-box;

}

.component{
height: 70%;
width: 100%;
display: flex;
text-align: center;
border: 1px solid black;
font-size: 2em;

}
.numbers{
display: grid;
grid-template-columns: repeat(3,1fr);
width: 75%;
}

.numbers div{
    border:1px solid black;
}
.operations{
width: 25%;
}

.operations div{
    border:1px solid black;

}
